@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');

.quote-text {
  font-family: 'Jaini';
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 1.2;              
  letter-spacing: 0.5px;         
  color: white;
  -webkit-text-stroke: 0.8px black; 
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .quote-text {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .quote-text {
    font-size: 28px;
  }
}
